# .env.example

# MongoDB connection URL
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/<database>

# JSON Web Token secret
JWT_SECRET=<your_jwt_secret>

# Binance API key
BINANCE_API_KEY=<your_binance_api_key>

# CoinGecko API key
COINGECKO_API_KEY=<your_coingecko_api_key>

# Other crypto service API keys
OTHER_CRYPTO_API_KEY=<your_other_crypto_api_key>
